.note-content{
    width: 600px;
    height: 800px;
    position: fixed;
    left: 45%;
    top: 5%;
    border: 1px solid red;
}

 .centered-element {
    height: 100px;
    width: 100px;
    position: absolute;
    left: 50%;
    margin-left: -50px;
    top: 50%;
    margin-top: -50px;
  }

  .note-type{
    width: 200px;
    height: 800px;
    border: 1px solid red;
    position: fixed;
    left: 5%;
    top: 5%;
  }

  .note-title{
    width: 200px;
    height: 800px;
    border: 1px solid red;
    position: fixed;
    left: 25%;
    top: 5%;
  }

  .show{
    display: flex;
  }

  .hide{
    display: none;
  }

  .wrapperClassName{
    height: 100%;
  }

  .editorClassName{
    margin-left: 10px;
  }

  .text-editor{
      height: 100%;
  }

  .type-title{
    margin: 10px;
    background: #c9cece;
    font-size: x-large;
  }

  .new-note{
    position: fixed;
    left: 5%;
    top: 1%;
    width: 100px;
    height: 25px;
    border-radius: 5px;
    font-size: large;
    background: #06e882;
 }