.note-content{
    width: 52%;
    height: 90%;
    position: fixed;
    left: 45%;
    top: 6%;
    border: 1px solid #c9cece;
}

 .centered-element {
    height: 100px;
    width: 100px;
    position: absolute;
    left: 50%;
    margin-left: -50px;
    top: 50%;
    margin-top: -50px;
  }

  .note-type{
    width: 20%;
    height: 90%;
    border: 1px solid #c9cece;
    position: fixed;
    left: 3%;
    top: 6%;
  }

  .note-title{
    width: 20%;
    height: 90%;
    border: 1px solid #c9cece;;
    position: fixed;
    left: 24%;
    top: 6%;
  }

  .show{
    display: flex;
  }

  .hide{
    display: none;
  }

  .wrapperClassName{
    height: 100%;
  }

  .editorClassName{
    margin-left: 10px;
  }

  .text-editor{
      height: 100%;
  }

  .type-title{
    margin: 10px;
    background: #c9cece;
    font-size: x-large;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

  }

  .new-note{
    position: fixed;
    left: 3%;
    top: 1.5%;
    width: 100px;
    height: 3%;
    border-radius: 5px;
    font-size: large;
    background: #06e882;
 }